@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'), url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2');
}
@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('../fonts/SourceSansPro-Light.ttf') format('truetype');
}
body {
  font-family: 'SourceSansPro-Light';
  margin: 0;
  background: url('../images/background.jpg') center center no-repeat fixed;
}
.container {
  height: 100vh;
  color: #ffffff;
  text-align: center;
  .nature-science {
    letter-spacing: 3px;
  }
  .logo {
    background: url("../images/logo-white.png") center center no-repeat;
    background-size: contain;
    width: 100%;
    height: 45vh;
  }
  .under-construction {
    padding-top: 30px;
    font-size: 5vh;
    text-transform: uppercase;
  }
  .contact-us {
    font-size: 2.5vh;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 10px 20px;
    .connect {
      padding: 20px 0;
      font-size: 4vh;
    }
    .contact-type {
      width: 50%;
      float: left;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
